# Entorno Virtual (¡Muy importante!)
venv/
ENV/
env/

# Archivos de Python (Caché)
**/__pycache__/
*.py[cod]
*$py.class

# Base de datos local (Si es que usaste alguna de prueba)
*.sqlite3

# Archivos de configuración personal / Claves
.env
.DS_Store
Thumbs.db

# Wallet de Oracle (Si es que lo moviste dentro del proyecto)
**/Wallet_*/
*.zip

# Archivos de VS Code
.vscode/